/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */

:root {
    --navbar-height: 59px;
    /* font-family:Arial, Helvetica, sans-serif */
}

/* Navigation bar  */

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    font-weight: bold;
}

/* Navigation bar Logo & Image  */

#logo img {
    height: 80px;
    margin: 5px 5px;
}

#navbar ul {
    display: flex;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 468px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url("1.jpg") no-repeat center center/cover;
    position: absolute;
    height: 500px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services section  */

#services {
    margin: 14px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #dddddd;
}

#services .box img {
    display: block;
    margin: auto;
    height: 160px;
}

#services .box p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Client Section  */

#client-section {
    height: 344px;
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("2.jpg") no-repeat center center/cover;
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 24px;
}

#clients img {
    height: 150px;
}

/* Contact Section  */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("1.jpg") no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */

.h-primary {
    font-size: 2.8rem;
    padding: 8px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid red;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}