<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resto kuno, temukan makanan kuno dengan rasa yang mengikat">
    <meta name="theme-color" content="#2c3e50"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Resto Kuno</title>
</head>
<body>
<a href="#main__content" class="skip__content">Skip To Content</a>
<header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            Resto Kuno
        </h1>
        <button id="menu" class="header__hamburger" aria-label="humberger">☰</button>
    </div>
</header>
<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li><a class="nav__item" href="#/" rel="noreferrer">Home</a></li>
        <li><a class="nav__item" href="#/favorite" rel="noreferrer">Favorite</a></li>
        <li><a class="nav__item" href="https://www.linkedin.com/in/dito-cahya-pratama-738504194/" target="_blank" rel="noreferrer">About Us</a></li>
    </ul>
</nav>

<main id="main__content">
    
</main>
<footer>
    <div class="foooter-item">
        <div class="foooter-item__title">
            <h1>Resto Kuno</h1>
            <p>Jl. Gedhang Gablok RT 02 RW 03, Kec. Kepanjen, Kab. Malang</p>
        </div>
        <div class="foooter-item__title">
            <h1>Support</h1>
            <ul>
                <li><a href="https://www.dicoding.com/" target="_blank" rel="noopener">Dicoding</a></li>
                <li><a href="https://bdd.kemenparekraf.go.id/" target="_blank" rel="noopener">Baperkraf Developer
                    Day</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2021 - Resto Kuno</p>
    </div>
</footer>
</body>
</html>
