body {
    width: 450px;
    height:450px;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  #progressBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }
  
  
  #progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, violet, red);
    height: 0;
    opacity: 0;
  }