*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  line-height: 1.5;
  tab-size: 4;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.container {
  width: 480px;
  height: 100%;
  margin: auto;
}
.title {
  text-align: center;
}
.column--title {
  font-size: 20px;
  color: #eb3941;
}

.column__left,
.column__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.column--input {
  display: block;
  width: 120px;
  padding: 0.375rem 0.75rem;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.column--output {
  padding: 0.375rem 0.75rem;
  background: whitesmoke;
  margin: 0 10px;
}

.column--btn {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 50px;
  color: #1cc49d;
  background-color: #1b2f31;
  height: 100%;
  width: 150px;
  padding: 12px;
  margin: 20px 0px;
}