* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background-image: url('../images/awesom.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 4vw;
    padding-top: 2vw;
}

.logo1 {
    flex: 1;
}

.logo {
    margin-left: 2vw;
    width: 5vw;
    height: 5vw;
    border: 2px solid darkorange;
    border-radius: 20px;
}

.listitems {
    display: flex;
    padding-right: 40px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 3px;
    margin: 10px, 0;
    font-weight: bold;
    font-size: 1.7vw;
}

nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

nav ul li a:hover {
    color: black;
    background: yellow;
    box-shadow: 0 0 10px yellow, 0 0 40px yellow, 0 0 80px yellow;
    transition-delay: 0.1s;
}

.self {
    padding-bottom: 60px;
    text-align: center;  
    font-size: 8vw;
    color: #252839;
    -webkit-text-stroke: 0.5vw white;
}

span {
    color: darkorange;
}

.desc {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2vw;
    padding-bottom: 50px;
    color: white;
    font-weight: bold;
}

.achievements {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.num1, .num2, .num3, .num4 {
    flex: 1;
    border: 5px solid darkorange;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 5vw;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.num1 {
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.img1 {
    margin-top: 5%;
    height: 25%;
    width: 25%;
    padding-bottom: 5%;
}

.head {
    font-size: 2vw;
    padding-bottom: 5%;
    font-weight: bold;
}

.desc2 {
    font-size: 1.5vw;
    padding-bottom: 2%;
}

a {
    text-decoration: none;
}

.num2, .num1, .num3, .num4{
    opacity: 0;
}

.num2.f, .num1.f, .num3.f, .num4.f{
    animation: animate 2s forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.cert {
    position: relative;
    box-sizing: border-box;
    font-size: 1.5vw;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 3%;
    color: red;
    transition: 0.5s;
    overflow: hidden;
}

.cert::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid darkorange;
    border-left: 2px solid darkorange;
    transition: 1s;
}

.cert::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid darkorange;
    border-right: 2px solid darkorange;
    transition: 1s;
}

.cert:hover::before {
    width: 100%;
    height: 100%;
}

.cert:hover::after {
    width: 100%;
    height: 100%;
}

.cert:hover {
    background: white;
    color: red;
    box-shadow: 0 0 50px red;
}