* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(60deg, rgba(25, 155, 230, 0.7), rgba(235, 42, 235, 0.7));
}

h1 {
    margin-top: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transition: 0.4s;
}

h1:hover {
    font-style: oblique;
    font-size: 36px;
}

#container {
    border-radius: 8px;
    background-color: rgb(44, 44, 44);
    margin-top: 30px;
    height: 490px;
    width: 400px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0 13px 0 13px; */
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.8);
}

#screen {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* align-items */
    color: white;
    text-align: right;
    margin: 20px;
    border: 2px solid rgb(39, 38, 38);
    height: 70px;
    width: 360px !important;
    background: linear-gradient(60deg, rgba(44, 44, 44, 0.8), rgba(121, 121, 121, 0.8), rgba(44, 44, 44, 0.8));
    /* background-color: rgb(58, 58, 58); */
}

#output {
    font-family: monospace;
    position: relative;
    width: 320px;
    height: 60px;
    /* right: 10px; */
    /* left: 20px; */
    /* bottom: 20px; */
    padding: 2px;
    top: -10px;
    font-weight: 700;
    /* top: px; */
    position: relative;
    font-size: 26px;
}


/* #history-value {
    margin-right: -20px;
    font-size: 13px;
    opacity: 0.7;
} */

#output-value {
    word-break: break-all;
    width: 335px;
    /* wrap: break-word; */
}

.keys {
    cursor: pointer;
    border-radius: 5px;
    background-color: grey;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    height: 60px;
    width: 80px;
    /* border: 2px solid black; */
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 1px 5px rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

.keys:hover {
    font-size: 30px;
}

.big {
    width: 172.5px !important;
    background-color: rgb(236, 159, 16) !important;
    transition: 0.3s;
    font-size: 30px;
}

.big:hover {
    font-size: 35px !important;
}

#r1 {
    display: flex;
    flex-direction: row;
}

.operator-color {
    background-color: rgb(11, 95, 163) !important;
}

.red {
    background-color: tomato !important;
}