.posts {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (min-width: 315px) {
    .headline__content {
        padding: 16px 16px;
    }

    .headline__title,
    .hero__title {
        font-size: 28px;
    }

    .headline__description,
    .hero__tagline {
        font-size: 16px;
    }
    .list-menu__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 650px) {
    .headline__content,
    .hero__inner {
        margin: 0 auto;
        max-width: 650px;
    }

    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
        font-size: 18px;
    }

    .post-item__description {
        font-size: 14px;
    }

    .list-menu__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero{
        background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 100, 0.5)), url("/images/heros/hero-image_4-small.jpg");  
    }
}

@media screen and (max-width: 500px) {
    .post-item__tag__city,
    .post-item__tag__rating {
        padding: 10px;
    }
    .foooter-item,
    .footer-copyright {
        font-size: 14px;
    }
    .foooter-item h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        background-color: #2c3e50;
        color: #fff;
        width: 100%;
        position: absolute;
        -webkit-transform: translate(0, -800px);
        transform: translate(0, -800px);
        transition: transform 0.3s ease;
        z-index: 1;
        visibility: hidden;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        visibility: visible;
    }

    .header {
        min-height: 0px;
        transition: min-height 0.3s;
    }

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .header__title{
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .nav__list {
        display: block;
        flex-direction: column;
        max-height: 80vh;
    }

    .nav__item {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .nav__item:hover {
        background-color: #323330;
    }
    .hero{
        background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 100, 0.5)), url("/images/heros/hero-image_4.webp");  
    }
}

@media screen and (min-width: 701px) {
    .nav {
        margin-right: 20px;
    }
    .header__hamburger {
        display: none;
    }

    .header__inner {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .headline {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .headline__figure img {
        height: 300px;
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .nav__item:hover {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.3s;
    }
}

@media screen and (max-width: 860px) {
    .foooter__item {
        display: block;
    }
    .footer__item-about {
        margin: 50px 0;
    }
}

@media screen and (min-width: 900px) {
    .headline {
        grid-template-columns: repeat(2, 1fr);
    }
    .posts {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .list-menu__container {
        grid-template-columns: repeat(4, 1fr);
    }
    .hero{
        background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 100, 0.5)), url("/images/heros/hero-image_4-large.jpg");
    }
}
