*{
    margin: 0;
    padding: 0;

}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10101E;

}
.datetime{
    color: #fff;
    background:#10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(225,225,225,0.1));
    transition: 0.5s;
    transition-property:  box-shadow;
}
.datetime:hover{
    background:#2E94E3 ;
    box-shadow: 0 0 30px #2E94E3;
    transition: 0.9s ;


} 
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time
   {
       font-size: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .time span:not(:last-child)
   {
       position: relative;
       margin: 0 6px;
       font-size: 600;
       text-align: center;
       letter-spacing: 3px;

   } 


